.avatar {
    border-radius: 50%;
    max-width: 50px;
}

.content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

code {
    padding: 2px 4px;
    color:#d14;
    white-space: nowrap;
    background-color:#f7f7f9;
    border: 1px solid #e1e1e8;
}

pre code {
    /* padding: 0; */
    color: inherit;
    white-space: inherit;
    background-color: transparent;
    border: 0;
}

.header {
    margin: 0 auto;
    max-width: 800px;
}

.pure-menu-span {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
}

#menu span {
    color:#999;
    border: none;
    padding: 0.6em;
}